/* ------------------------- google font
------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');








/* ------------------------fontawosam
----------------------------------------------------- */





/* ------------------------common style or utilites
------------------------------------------------------ */
body{
  width: 1440px;
  height: 3750px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}





/* --------------------------header (section=head)
--------------------------------------------------------- */
.head{
  width: 1440px;
  height: 677px;
  background-color: #2D25A0;
}
.headbody{
  display: flex;
  
}
.half{
  width: 50%;
  height: 677px;
  /* border: 1px solid white; */
}
.left{
  margin-top: 207px;
  margin-left: 156px;
  margin-bottom: 240px;
  height: 238px;
  width: 485px;
  /* border: 1px solid white; */
 
}
.left p{
  position: relative;
  bottom: 60px;
  font-family: 'Poppins', sans-serif;
  font-size: 64px;
  line-height: 83px;
  color: #FFFFFF;
 
}

.click button{
width: 168px;
height: 44px;
background-color: #E02C6D;
color: #ffffff;

}
.right{
  margin-top:153px ;
  margin-right:140.99px ;
  margin-bottom:86px ;
  height: 438px;
  width: 556.01px;
  /* border: 1px solid white; */
}
.right img{
  width: 100%;
  height: 100%;
}

/* ---------------------------main----------------------------- */

/* -------------------------- section-1 start
-------------------------------------------------------- */

.top-players-list{
width: 1440px;

background-color: #ffffff;
/* border: 1px solid; */
display: flex;
justify-content: center;


}
.top-players{
  margin-top: 70px;
  width: 1050px;
  /* border: 1px solid black; */
  display: grid;
grid-template-columns: repeat(3,1fr);

}
.player-list{
  display: flex;
  justify-content: center;
  grid-gap: 30px;
}
.player{
  width: 330px;
  height: 474px;
  /* border: 1px solid; */
  margin-bottom: 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 5px 3px 6px rgba(0,0,0,.15);
 
  
}
.player:hover img{
  transform: scale(1.2);
  transition: transform 0.4s ease-out;
  
}
.player-img{ 
  width: 300px;
  height: 256px;
  /* border: 1px solid red; */
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 5px;
}

.player-img img{
  width: 300px;
  height: 256px;
  border-radius: 5px;
}
.player-info{
  width: 300px;
  height: 154px;
  /* border: 1px solid blue; */
  
  
}
.player-info h1{
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight:700; 
  margin-top: 1px;
}
.player-info p{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 5px;
}


/* -----------------------------section-2 start
----------------------------------------------------------------- */

.top-players-ranking{
  width: 1440px;
  background-color: rgb(255, 255, 255);
  height: 100%;
  padding-top: 50px;

  
}
.players-ranking{
display: gird;
grid-template-columns: repeat(5,1fr);


}
.player-rank{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ranking{
  margin-bottom: 25px;
  width: 1050px;
  height: 8vh;
  /* border: 1px solid ; */
  display: flex;
  border-radius: 5px;
  box-shadow: 5px 6px 8px rgb(238, 238, 238),
               -5px -8px 12px whitesmoke;
}
.ranking:hover{
  transform: skew(-3deg);
  background-color: #f2f1fa;
  transition: transform 0.3s linear;
  box-shadow: 8px 6px 6px rgb(238, 238, 238),
  -5px -8px 12px whitesmoke;
}
.part{
  width: 350px;
  height: 8vh;
  /* border: 1px solid green; */
}
.one{
  display: flex;
  justify-content: center;
}
.one img{
  padding: 5px;
}
#name{
 padding-left: 10px;
 font-weight: 600;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
.two{
  
margin-left: 100px;
}
.two h3{
  text-align: center;
  /* border: 1px solid; */
  border-radius: 15px;
  padding: 0 10px;
  padding-top: 10px;
  width: 100px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  box-shadow:  5px 8px 8px rgb(226, 226, 226),
  
               -5px -8px 8px white ;
}
.three{
  text-align: center;
}
.three i{
  padding-top: 10px;
}

.three p{
font-weight: 400;
font-size: 16px;
}









