/* ------------------------- google font
------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');








/* ------------------------fontawosam
----------------------------------------------------- */





/* ------------------------common style or utilites
------------------------------------------------------ */
body{
  display: flex;
  flex-direction: column;
  align-items: center;
 background-color: whitesmoke;
}

button > a{
  text-decoration: none;
  color: white;
  
}


/* --------------------------header (section=head)
--------------------------------------------------------- */
.head{
  width: 1440px;
  height: 677px;
  background-color: #2D25A0;
  position: relative;
}
.head:hover img{
  transform: rotate(15deg) skew(-10deg) scale(1.1);
  transition: all .5s ease-in-out;
  
}
.headbody{
  display: flex;
  
}
.half{
  width: 50%;
  height: 677px;
  /* border: 1px solid white; */
}
.left{
  margin-top: 207px;
  margin-left: 156px;
  margin-bottom: 240px;
  height: 238px;
  width: 485px;
  /* border: 1px solid white; */
 
}
.left p{
  position: relative;
  bottom: 60px;
  font-family: 'Poppins', sans-serif;
  font-size: 64px;
  line-height: 83px;
  color: #FFFFFF;
 
}

.click button{
width: 168px;
height: 44px;
background-color: #E02C6D;
color: #ffffff;
padding: 10px 24px;
border: none;
font-family: 'Poppins', sans-serif;
font-weight: 500;
font-size: 16px;
border-radius: 10px;
box-shadow: 5px 6px 8px #0f0a57;

}
.click button:hover{
  transform: scale(1.05);
  transition: all .4s linear;
}
.right{
  margin-top:153px ;
  margin-right:140.99px ;
  margin-bottom:86px ;
  height: 438px;
  width: 556.01px;
  /* border: 1px solid white; */
}
.right img{
  width: 100%;
  height: 100%;
}
.football img{
  position: absolute;
  bottom: 51%;
  right: 40%;
}


/* ---------------------------main----------------------------- */

/* -------------------------- section-1 start
-------------------------------------------------------- */

.top-players-list{
width: 1440px;


background-color: #ffffff;
/* border: 1px solid; */
display: flex;
justify-content: center;


}
.top-players{
  margin-top: 70px;
  width: 1050px;
  /* border: 1px solid black; */
  display: grid;
grid-template-columns: repeat(3,1fr);

}
.player-list{
  display: flex;
  justify-content: center;
  grid-gap: 30px;
}
.player{
  width: 330px;
  height: 474px;
  /* border: 1px solid; */
  margin-bottom: 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 5px 3px 6px rgba(0,0,0,.15);
 
  
}
.player:hover img{
  transform: scale(1.2);
  transition: transform 0.4s ease-out;
  
}
.player-img{ 
  width: 300px;
  height: 256px;
  /* border: 1px solid red; */
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 5px;
}

.player-img img{
  width: 300px;
  height: 256px;
  border-radius: 5px;
}
.player-info{
  width: 300px;
  height: 154px;
  /* border: 1px solid blue; */
  
  
}
.player-info h1{
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight:700; 
  margin-top: 1px;
}
.player-info p{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 5px;
}


/* -----------------------------section-2 start
----------------------------------------------------------------- */

.top-players-ranking{
  width: 1440px;
  background-color: rgb(255, 255, 255);
  padding-top: 50px;

  
}
.players-ranking{
display: gird;
grid-template-columns: repeat(5,1fr);


}
.player-rank{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ranking{
  margin-bottom: 25px;
  width: 1050px;
  height: 8vh;
  /* border: 1px solid ; */
  display: flex;
  border-radius: 5px;
  box-shadow: 5px 6px 8px rgb(238, 238, 238),
               -5px -8px 12px whitesmoke;
}
.ranking:hover{
  transform: skew(-3deg);
  background-color: #f2f1fa;
  transition: transform 0.3s linear;
  box-shadow: 8px 6px 6px rgb(238, 238, 238),
  -5px -8px 12px whitesmoke;
}
.part{
  width: 350px;
  height: 8vh;
  /* border: 1px solid green; */
}
.one{
  display: flex;
  justify-content: center;
}
.one img{
  padding: 5px;
}
#name{
 padding-left: 10px;
 font-weight: 600;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
.two{
  
margin-left: 100px;
}
.two h3{
  text-align: center;
  /* border: 1px solid; */
  border-radius: 15px;
  padding: 0 10px;
  padding-top: 10px;
  width: 100px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  box-shadow:  5px 8px 8px rgb(226, 226, 226),
  
               -5px -8px 8px white ;
}
.three{
  text-align: center;
}
.three i{
  padding-top: 10px;
}

.three p{
font-weight: 400;
font-size: 16px;
}
/* -----------------
section-2-ranking-top players-end-
-------------------------  */

/* section- optional */

.optional-topic{
  background-color: white;
  width: 1440px;
  height: 700px;
  /* background-color: yellowgreen; */

}
.optional{
  display: flex;
  justify-content: center;
}
.half-optional-text{
  margin-top: 224px;
  margin-left: 182px;
  width: 466px;
  height: 309px;
  /* border: 1px solid; */
}
.half-optional-text h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 48px;

}
.big-text{
  height: 120px;
  width: 469px;
}
.small-text{
  width: 404px;
  height: 113px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

.half-optional-img{
  margin-top: 165px;
  margin-right: 156px;
  width: 567px;
  height: 427px;
  /* border: 1px solid; */
  margin-left: 69px;
}
.half-optional-img img{
  width: 567px;
  height: 427px;
}
/* ---------------extra--clubes-logo----------- */
.clubs-logo{
  width: 1440px;
  height: 500px;
  background-color: white;
  padding-top: 30px;
  
  /* border: 1px solid ; */
}
.logo:hover{
  transition: all 0.4s linear;
  transform: scale(1.1);
}
#clubs-heading{
  height: 20px;
}
#clubs-heading h2{
  padding-top: 15px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}
.clubs{
  display: flex;
  justify-content: center;

  

}
.logo{
  width: 150px;
  height: 150px;
  /* border: 1px solid; */
  margin: 0 20px;
  border-radius: 75px;
  margin-top: 80px;
  box-shadow: 5px 8px 8px -2px gray ;
}
.logo img{
  width: 150px;
  height: 150px;
}
/* --------------------footer------------------ */
footer{
  width: 1440px;
  height: 280px;
  background-color: white;
}
.footer-logo{
  width: 483.87px;
  height: 213px;
  /* border: 1px solid; */
  margin: 10px 481.13px 63px 475px;

  background-color: white;
  
}
.up{
  width: 483.87px;
  height: 80px;
  /* border: 1px solid ; */
}
.up img{
  width: 483.87px;
  height: 110px;

}
.media-icon{
  margin: 20px 156.94px 51px;
}
.media-icon ul {
list-style: none;
text-decoration: none;
display: flex;
justify-content: center;



}
.media-icon ul li{
  
  margin: 5px;
  /* border: 1px solid; */
  border-radius: 50%;
  box-shadow: 5px 6px 8px gray,
              inset -5px -6px 8px whitesmoke;
  
}
.media-icon ul li a{
  color: black;
  position: relative;
  left: 8px;
}
.media-icon ul li a i{
  width: 32px;
height: 32px;
font-size: 16px;
line-height: 30px;

}
.fa-instagram{
  color: purple;
}
.fa-facebook-f{
  color: #3b5998;
}
.fa-twitter{
  color: #00acee;
}
.fa-youtube{
  color: #FF0000;
}
.copyright{
  width: 483.87px;
 
 
}
.copyright p{
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}



/* --------------meida quary-------------- */
@media only screen and  (max-device-width : 480px)  {
   .body{
 
   }
  .header{
    width: 100%;
  }
  .head{
    width: 100%;
     height: 50%;
  }
  .headbody {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.half{
  width: 100%;
}
.left{
  width: 278px;
  height: 138px;
}
.left p{
  font-size: 36px;
}
.right{
  margin-bottom: 86px;
  height: 344px;
  width: 329px;
}
.football img{
  height: 50px;
  width: 50px;
  position: absolute;
  top: 60%;
  right: 75%;
}
.right img{
  width: 329px;
  height: 259.17px;
  margin-left: 50px;
}
.top-players-list{
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
.top-players {
  margin-top: 70px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
.player-list {
  display: flex;
  grid-gap: 30px;
  flex-direction: column;
  align-items: center;
}
.ranking {
  margin-bottom: 25px;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 5px;
  box-shadow: 5px 6px 8px rgb(238 238 238), -5px -8px 12px whitesmoke;
  flex-direction: column;
  align-items: center;
}
.part{
  height: 100%;
}
.two {
  margin-left: 200px;
}
.optional {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.half-optional-text{
  width: 329px;
  height: 299px;
  margin: 0;
}

.half-optional-text h1{
  width: 100%;
  font-size: 30px;
}
.big-text{
  width: 100%;
  
  
}
.small-text{

  padding-bottom: 20px;
}
#clubs-heading h2{
  font-size: 25px;
}
.half-optional-img{
  margin: 165px 0 0 0;
  width: 329px;
 
}
.half-optional-img img {
  width: 328px;
  height: 248px;
}
.clubs-logo{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20%;
}
.clubs{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.logo{
 
}


.up img {
    width: 60%;
   height: 75px;
}

